
.cv-floor{
  background: #BBB;
}

#content-floor-cv {
  margin-top: 7em;
  /*text-align: center;*/
}

#content-floor-cv a {
    text-decoration: none;
}

#what-cv h5 {
  font-size: 3em;
  color: black;
  line-height: 1.2em;
  margin: 0.5em 0 0.2em;
  text-decoration: underline;
}

#what-cv {
  font-weight: 900;
}

#cv-table {
	width: 90%;
  	max-width: 650px;
    margin: 0 auto;
}

 #cv-table td{
     padding: 1px;
}

.date {
	width: 130px;
}
.title{
	font-weight: 900;
}

#skills-table {
	width: 90%;
  	max-width: 650px;
    margin: 0 auto;
    border: solid 1px;
}

.skill{
	width: 33%;
	text-align: center;
	padding: 2px;
}

.skill img{
	max-width: 100px;
	max-height: 50px;
}