
*{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

body {
	background: #000;
}

/*.floor {
  margin-top: 4em;
}*/

.arrow {
	position: absolute;
	top: 40%;
}

.right {
	right:10px;
}

.left {
	left:10px;
}

#underconstruction{
	position: absolute;
	color:white;
	background:red;
	top: 50px;
	left:-87px;
	width:300px;
	text-align:center;
	z-index: 50000;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.3);
	
	-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);  
    -o-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); 
}